@import "tailwindcss";

@theme {
  --color-violet: #8a2be2;
  --color-light-violet: #b495d0;
  --color-pink: #ff00ee;
  --color-blue: #237eff;
  --color-yellow: #ffd700;
}

@layer base {
  h1 {
    @apply text-2xl md:text-3xl lg:text-4xl font-bold;
  }

  h2 {
    @apply text-xl md:text-2xl lg:text-3xl font-semibold;
  }

  h3 {
    @apply text-lg md:text-xl lg:text-2xl font-semibold;
  }

  h4 {
    @apply text-base md:text-lg lg:text-xl font-medium;
  }

  body {
    @apply text-sm md:text-base lg:text-lg leading-relaxed text-white bg-black;
  }

  p {
    @apply text-sm md:text-base text-white;
  }

  a {
    @apply text-[--color-violet] underline hover:opacity-80 transition-opacity duration-200;
  }

  button > a {
    @apply text-[--color-violet] no-underline hover:opacity-80 transition-opacity duration-200;
  }

  li {
    @apply mb-1;
  }
}

@layer components {
  .button {
    @apply bg-(--color-violet) px-6 py-3 rounded-xl text-sm font-medium shadow-lg max-w-[250px] self-center;
  }
  .noscroll {
    @apply overflow-hidden;
  }
}
