---
import Layout from "../layouts/Layout.astro";
import gradientCircle from "../assets/gradient_circle.webp";
import HomeCarousel from "../components/HomeCarousel.jsx";
import ScrollIcon from "../components/ScrollIcon.astro";
import Button from "../components/Button.astro";
---

<Layout>
  <div class="relative overflow-hidden w-full min-h-screen">
    <div
      class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[100%] h-[100%] md:w-[110%] md:h-[110%] lg:w-[150%] lg:h-[150%] -z-10 pointer-events-none max-w-screen"
    >
      <img
        src={gradientCircle.src}
        alt="Background gradient"
        class="w-full h-full object-cover"
      />
    </div>

    <div
      class="flex flex-col w-full justify-between items-center gap-6 pt-4 lg:pt-16"
    >
      <h1 class="text-3xl font-bold text-white text-center">
        Bienvenue sur BeeUs !
      </h1>

      <HomeCarousel client:only />

      <div
        id="scroll"
        class="flex flex-col justify-center items-center gap-4 p-6 min-w-screen max-w-md lg:flex-row lg:gap-8"
      >
        <Button variant="full"><a href="/register">S'inscrire</a></Button>
        <Button variant="border"><a href="/login">Se connecter</a></Button>
      </div>
    </div>
  </div>
</Layout>
