---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div
    class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 *:w-full w-full px-8 flex flex-col gap-2"
  >
    <p>
      Coucou ! bienvenu su mon travail de la journée, sur notre futur site ! ;)
    </p>
    <p>J'ai un peu retravaillé la partie login mais pas grand chose.</p>
    <p>
      La chose principale que j'ai travaillé c'est la partie quand tu
      t'enregistre :)
    </p>
    <p>
      ce que je te propose c'est de cliquer sur login, de cliquer sur le lien
      pour t'inscrire sous le bouton se connecter.
    </p>
    <p>
      tu peux mettre le nom, l'email et le mdp que tu veux tkt pas ce sera
      supprimé
    </p>
    <p>
      J'espère que ça va te plaîre :) (biensûr il n'y a aucun visuel c'est
      normal c'est purement le développement que j'ai taffé ! :) )
    </p>
    <a href="/login" class="underline text-4xl font bold">login</a>
  </div>
</Layout>
