---
import Layout from "../layouts/Layout.astro";
import LoginMenu from "../components/LoginMenu.jsx";
import loginHero from "../assets/login_hero.webp";
import { Icon } from "astro-icon/components";
---

<Layout>
  <div
    class="flex flex-col w-full overflow-x-hidden overflow-y-auto md:overflow-y-hidden pt-[5dvh] relative items-center"
  >
    <img
      src={loginHero.src}
      alt="Illustration de connexion"
      class="block absolute top-0 left-0 w-full h-[55dvh] object-bottom -z-10"
    />

    <div
      class="w-full md:w-1/2 flex flex-col items-center justify-start gap-6 px-6 py-6 md:py-10"
    >
      <div class="flex flex-col items-center justify-center gap-2 text-center">
        <Icon
          name="user"
          class:list="text-[20vw] md:text-[10vw] text-(--color-violet)"
        />
        <h1>Se connecter</h1>
      </div>
      <div class="w-full max-w-md">
        <LoginMenu client:only="react" />
      </div>
    </div>

    <div
      class="w-full md:w-1/2 flex flex-col justify-end items-center text-center px-6 py-8 gap-4"
    >
      <p class="text-base md:text-lg font-body">
        Suivez-nous sur les réseaux sociaux !
      </p>
      <ul class="flex justify-center gap-6 *:text-2xl md:*:text-3xl">
        <li><a href="/"><Icon name="tiktok" /></a></li>
        <li><a href="/"><Icon name="twitter" /></a></li>
        <li><a href="/"><Icon name="instagram" /></a></li>
        <li><a href="/"><Icon name="facebook" /></a></li>
      </ul>
    </div>
  </div>
</Layout>
