---
import Layout from "../layouts/Layout.astro";
import loginHero from "../assets/login_hero.webp";
import RegisterMenu from "../components/RegisterMenu";
import { Icon } from "astro-icon/components";
---

<Layout>
  <div
    class="flex flex-col md:flex-row w-full h-screen overflow-hidden pt-[15dvh]"
  >
    <img
      src={loginHero.src}
      alt="login hero"
      class="block md:hidden absolute left-0 top-0 h-[55dvh] w-full object-bottom object-cover -z-40"
    />
    <div
      class="w-full flex flex-col flex-1 items-center relative justify-start gap-4 p-6"
    >
      <div class="flex flex-col items-center justify-center gap-2">
        <Icon name="user" class:list="text-[30dvw]" />
        <h1 class="font-black text-2xl sm:text-3xl">S'inscrire</h1>
      </div>
      <RegisterMenu client:only="react" />
    </div>
    <div
      class="flex flex-col flex-1 h-full px-4 sm:px-8 justify-end items-center text-center py-6"
    >
      <div class="flex flex-col items-center gap-4">
        <p class="text-base sm:text-lg">
          Suivez-nous sur les réseaux sociaux !
        </p>
        <ul class="flex w-full justify-around *:text-2xl sm:*:text-3xl">
          <li><a href="/"><Icon name="tiktok" /></a></li>
          <li><a href="/"><Icon name="twitter" /></a></li>
          <li><a href="/"><Icon name="instagram" /></a></li>
          <li><a href="/"><Icon name="facebook" /></a></li>
        </ul>
      </div>
    </div>
  </div>
</Layout>
