---
import Layout from "../layouts/Layout.astro";
import loginHero from "../assets/login_hero.webp";
import RegisterMenu from "../components/RegisterMenu";
import { Icon } from "astro-icon/components";
---

<Layout
  title="S'inscrire – BeeUs"
  description="Rejoignez BeeUs, le réseau social étudiant, pour créer votre compte, découvrir des événements, lieux et rencontrer d'autres étudiants."
>
  <div
    class="flex flex-col w-full overflow-x-hidden pt-[5dvh] relative items-center"
  >
    <img
      src={loginHero.src}
      alt="Illustration d'inscription"
      class="block absolute top-0 left-0 w-full h-[55dvh] object-bottom -z-10"
    />

    <div
      class="w-full md:w-1/2 flex flex-col items-center justify-start gap-6 px-6 py-6 md:py-10"
    >
      <div class="flex flex-col items-center justify-center gap-2 text-center">
        <Icon name="user" class:list="text-[20vw] md:text-[10vw]" />
        <h1>S'inscrire</h1>
      </div>
      <div class="w-full max-w-md">
        <RegisterMenu client:only="react" />
      </div>
    </div>

    <div
      class="w-full md:w-1/2 flex flex-col justify-end items-center text-center px-6 py-8 gap-4"
    >
      <p class="text-base md:text-lg font-body">
        Suivez-nous sur les réseaux sociaux !
      </p>
      <ul class="flex justify-center gap-6">
        <li>
          <a href="/"
            ><Icon name="tiktok" class:list="text-2xl md:text-3xl" /></a
          >
        </li>
        <li>
          <a href="/"
            ><Icon name="twitter" class:list="text-2xl md:text-3xl" /></a
          >
        </li>
        <li>
          <a href="/"
            ><Icon name="instagram" class:list="text-2xl md:text-3xl" /></a
          >
        </li>
        <li>
          <a href="/"
            ><Icon name="facebook" class:list="text-2xl md:text-3xl" /></a
          >
        </li>
      </ul>
    </div>
  </div>
</Layout>
