---
// src/pages/test.astro
import UserList from "../components/UserList.jsx";
---

<html lang="fr">
  <head>
    <title>Test API PocketBase</title>
  </head>
  <body>
    <h1>Test PocketBase avec React</h1>
    <UserList client:load />
  </body>
</html>
