---
import "../styles/global.css";
import Header from "../components/Header.astro";

const props = Astro.props;
---

<html lang="fr" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BeeUs - {props.title}</title>
    <meta name="description" content=`${props.description}` />
    <meta
      name="google-site-verification"
      content="Uq3Tr11z4cmStldxAady-Lm4W_VFdmY5x-ErW37y1_A"
    />
  </head>
  <body class="bg-zinc-900 text-[#f0f0f0]">
    <Header />
    <main class="mt-16">
      <slot />
    </main>
  </body>
</html>
